{% extends 'base.html' %}

{% block content %}
{{ form.media }}

<body>

    <div class="container">
        <div class="row" height="5px">
            <div class="col-md-12">
                <h2 style="color:#22CEEC">History</h2>

            </div>

        </div>
        <div class="row">



            <div class="col-md-4">
                <h3 style="color: white; text-align:center;">My Updates</h3>
                <br>
                {% for post in sentiments %}
                <div class="card" style="padding-bottom:7vh;">
                    <div class="well" width='50' height='50' id="prof-post">
                        <span class="badge badge-pill badge-info" style="float:right">{{post.publication_date|timesince}}
                            ago</span>
                        <div style="padding-top:5vh;">
                            <h5><b>
                                    <h4 style="color: green; text-align:center;">Search Term: {{post.topic}}</h4>
                                </b></h5>


                            <h5><b>
                                    <h4 style="color: green; text-align:center;">Positive Sentiments</h4>
                                </b> {{post.postive_tweets | safe}}</h5>
                        </div>
                    </div>
                </div>



                {% empty %}
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h5>You have no positive sentiments search history</h5>
                </div>
                {% endfor %}
            </div>
            <br>
            <br>

            <div class="col-md-4">
                <h3 style="color: white; text-align: center;">My Updates</h3>
                <br>
                {% for post in sentiments %}
                <div class="card" style="padding-bottom:7vh;">
                    <div class="well" width='50' height='50' id="prof-post">
                        <span class="badge badge-pill badge-info" style="float:right">{{post.publication_date|timesince}}
                            ago</span>
                        <div style="padding-top:5vh;">
                            <h5><b>
                                    <h4 style="color: green; text-align:center;">Search Term: {{post.topic}}</h4>
                                </b></h5>

                            <h5><b>
                                    <h4 style="color: green; text-align:center;">Neutral Sentiments</h4>
                                </b> {{post.neutral_tweets | safe}}</h5>
                        </div>
                    </div>
                </div>



                {% empty %}
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h5>You have no neutral sentiments search history</h5>
                </div>
                {% endfor %}
            </div>
            <br>
            <br>

            <div class="col-md-4">
                <h3 style="color: white; text-align: center;">My Updates</h3>
                <br>
                {% for post in sentiments %}
                <div class="card" style="padding-bottom:7vh;">
                    <div class="well" width='50' height='50' id="prof-post">
                        <span class="badge badge-pill badge-info" style="float:right">{{post.publication_date|timesince}}
                            ago</span>
                        <div style="padding-top:5vh;">
                            <h5><b>
                                    <h4 style="color: green; text-align:center;">Search Term: {{post.topic}}</h4>
                                </b></h5>
                            <h5><b>
                                    <h4 style="color: green; text-align: center;">Negative Sentiments</h4>
                                </b> {{post.negative_tweets | safe}}</h5>
                        </div>
                    </div>
                </div>



                {% empty %}
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                    <h5>ou have no negative sentiments search history</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


</body>

<style>
    body {
        background: url("../../../static/img/bg5.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 20px;
    }

    h2 {
        color: white;
        text-align: center;
    }

    #prof-col {
        height: 400px;
        width: 300px;
        background-color: #F7F7F7;
        opacity: 0.7;
    }

    #prof-post {
        height: 100%;
        background-color: #F7F7F7;
        opacity: 0.7;
    }

    .row {
        padding-top: 15vh;
    }
</style>





{% endblock %}