{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%if title%}

    <title>{{title}}</title>

    {%endif%}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/reg.css' %}">

    {% endblock %}

</head>

<body>
    {% include "registration/navbar.html" %}


    {% block content %} {%endblock%}


    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}

</body>

</html>