{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/reg.css' %}">

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">


        </ul>

    </div>

    <span style="padding-right:1em;"><a href="/login"><button style="width:8rem;" class="btn btn-outline hvr-float"
                type="submit">Login</button></a></span><span style="padding-right:4em;"><a href="/register"></a><button
            style="width:11rem;" class="btn btn-outline-primary hvr-float" type="submit">Get
            Started</button></a></span>
</nav>